name: project-loki
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes: 
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
